root = true

[*.cs]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 160
# Apply incrementally to changed code; do not reformat unrelated files.
csharp_prefer_braces = true:suggestion
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = false
